﻿@model CiclumTestTask.Models.SingleProduct

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr />

<div class="col-sm-4">
    <img src="@Model.ImageUrl" class="img-fluid" alt="Responsive image" style="display:block; width:100%">
</div>
<div class="col-sm-8">



    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductUrl)
        </dd>

    </dl>
</div>

<div>
    @{
        const string Canvas = "PriceChart";
        var complexChart = new LineChart();
        complexChart.ComplexData.Labels.AddRange(Model.PricesChart.Labels);
        complexChart.ComplexData.Datasets.AddRange(Model.PricesChart.Dataset);
    }
    <canvas id="@Canvas" width="1000" height="400"></canvas>

    @Html.CreateChart(Canvas, complexChart)
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
        @Html.ActionLink("Back to List", "Index")*@
</p>

@section scripts{
    <script>
    function resize() {
        $("#@Canvas").outerWidth($(window).width() -2 * $("#@Canvas").offset().left -  Math.abs($("#@Canvas").outerWidth(true) - $("#@Canvas").outerWidth()));
    }
    $(document).ready(function () {
        resize();
        $(window).resize(function () {
            resize();
        });
    });
    </script>
}
