﻿@model IEnumerable<CiclumTestTask.Models.SingleProduct>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="product-list">
        <td>
            <div style="height:60px; overflow:hidden">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
        </td>
        <td>
            <div style="height:60px; overflow:hidden">
                @Html.DisplayFor(modelItem => item.Description)
            </div>
        </td>
        <td>
            <div style="height:60px; overflow:hidden">
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </div>
        </td>
        <td>
            <div style="height:60px; overflow:hidden">
                @Html.DisplayFor(modelItem => item.ProductUrl)
            </div>
        </td>      
        <td>
            <div style="height:40px; overflow:hidden">
                @Html.ActionLink("Details", "Details", new { id = item.ProductId })
            </div>
        </td>
    </tr>
}

</table>
